* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 96px;
    text-align: center;
    margin-top: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 10px 05px 10px #ffffff2d;
    transform: translateY(40vh);
}
body {
    background-color: #141414;
    height: auto;
}